# {{ ansible_managed }}

[commands]
upgrade_type = {{ unattended_upgrade_type }}
random_sleep = 0
download_updates = {{ unattended_upgrade_download_updates }}
apply_updates = {{ unattended_upgrade_apply_updates }}

[emitters]
emit_via = stdio

[email]
email_from = root@example.com
email_to = root
email_host = localhost

[command]

[command_email]
email_from = root@example.com
email_to = root

[base]
debuglevel = 1
