// {{ ansible_managed }}

Unattended-Upgrade::Origins-Pattern {
{% if unattended_origins_patterns is defined %}
  {% for origin in unattended_origins_patterns %}
    "{{ origin }}";
  {% endfor %}
{% else %}
  {% for origin in __unattended_origins_patterns %}
   "{{ origin }}";
  {% endfor %}
{% endif %}
};

Unattended-Upgrade::Package-Blacklist {
{% for package in unattended_package_blacklist %}
      "{{package}}";
{% endfor %}
};

{% if not unattended_autofix_interrupted_dpkg | bool %}
Unattended-Upgrade::AutoFixInterruptedDpkg "false";
{% endif %}

Unattended-Upgrade::MinimalSteps "{{ unattended_minimal_steps | lower }}";

{% if unattended_install_on_shutdown | bool %}
Unattended-Upgrade::InstallOnShutdown "true";
{% endif %}

{% if unattended_mail | bool %}
Unattended-Upgrade::Mail "{{unattended_mail}}";
{% endif %}

{% if unattended_mail_only_on_error | bool %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}

{% if unattended_remove_unused_dependencies | bool %}
Unattended-Upgrade::Remove-Unused-Dependencies "true";
{% endif %}

{% if unattended_automatic_reboot | bool %}
Unattended-Upgrade::Automatic-Reboot "true";
{% endif %}

{% if unattended_automatic_reboot_time | bool %}
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_automatic_reboot_time }}";
{% endif %}

{% if unattended_update_days is defined %}
Unattended-Upgrade::Update-Days {{ unattended_update_days }};
{% endif %}

{% if unattended_ignore_apps_require_restart | bool %}
Unattended-Upgrade::IgnoreAppsRequireRestart "true";
{% endif %}

{% if unattended_dpkg_options | length() %}
Dpkg::Options {
{% for dpkg_option in unattended_dpkg_options %}
    "{{ dpkg_option }}";
{% endfor %}
};
{% endif %}

{% if unattended_dl_limit is defined %}
Acquire::http::Dl-Limit "{{ unattended_dl_limit }}";
{% endif %}
